name: Homebrew lint

on:
    push:
        branches:
            - main
            - release/**

jobs:
  lint:
    runs-on: macos-26

    permissions:
      contents: write

    steps:
        - name: Checkout
          uses: actions/checkout@v5
          with:
            fetch-depth: 0
            persist-credentials: true
            ref: ${{ github.head_ref }}
            token: ${{ secrets.PAT_TOKEN }}

        - name: Set up Homebrew
          uses: Homebrew/actions/setup-homebrew@main

        - name: Lint casks
          run: brew style --fix ./Casks

        - uses: stefanzweifel/git-auto-commit-action@v7
          with:
            commit_message: "Fix linting issues in casks"
